@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie // this is the model that I want to use in the view


    <h2>Movie Added. Thank you</h2>
