@{
    ViewData["GetToKnowJoel"] = "Get to Know Joel";
}

@{
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
</div>

<body>
    <div>
        <h1>Find Out More Below</h1>
        <ul>
            <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (where he performs regularly)</li>
            <li><a href="https://baconsale.com/">Baconsale</a> (The Baconsale site)</li>
        </ul>
        <a href="https://baconsale.com/"><img height="400" src="~/img/baconsale.jpg" /></a>
    </div>
</body>
