@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img height="300" src="~/img/joelhilton.jpg" />
</div>

<div><a asp-controller="Home" asp-action="AllMovies">View Movie List</a></div>