@{
    ViewData["MovieAddition"] = "Add Movie";
}

@model Mission06_Olsen.Models.MovieAddition

    <h1 class="display-4">@ViewData["MovieAddition"]</h1>

    <form method="post">
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" class="form-control" style="width: 200px;" />
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" style="width: 200px;" />
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="form-control" style="width: 100px;" />
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" class="form-control" style="width: 200px;" />
        <label asp-for="MovieRating">Movie Rating:</label>
        <select asp-for="MovieRating" class="form-control" style="width: 100px;">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited" class="form-control" style="width: 100px;">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <input type="hidden" asp-for="Notes" />
   
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" class="form-control" style="width: 200px;" maxlength="25" /><br />

    <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>
